PORT=5000
MONGODB_URI=mongodb+srv://mitul_078:IsLlir1mZ1fvIn7v@cluster0.owv2mjp.mongodb.net/marketsync?retryWrites=true&w=majority
NODE_ENV=development
JWT_SECRET=87367bbeb499ef88c4b9f2e9e5b70296fb228d51a67e9d839a990a1b37e21765
# Client URL for CORS (comma-separated for multiple origins)
CLIENT_URL=https://market-sync-3o9w.vercel.app

